body{
	background-image: url(http://i764.photobucket.com/albums/xx286/lightsatnight/harry-potter-14.jpg)
}

#welcome{
	color: white ;
}

#name{
	color: white ;
}

#player-name{
	color: white ;
}

#welcome-player{
	color: white ;
}

#w{
	color: white ;
}

#show-player-name{
	color: white ;
}

#h{
	color: white ;
}

#input-question1{
	color: white ;
}

#input-question2{
	color: white ;
}